@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Plus Jakarta Sans", system-ui, sans-serif;
  color-scheme: dark;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
